<?xml version="1.0" encoding="UTF-8" standalone="no"?><config>
	<duration descr="Duration" type="number">480</duration>
	<cashierNumber descr="Regulars Number" type="number">4</cashierNumber>
	<priorityCashierNumber descr="Priorities Number" type="number">2</priorityCashierNumber>
	<managerNumber descr="Managers" type="number">10</managerNumber>
	<priorityManagerNumber descr="Priority Managers" type="number">2</priorityManagerNumber>
	<arrivalProbability descr="Arrival Probability" type="probability">1.0</arrivalProbability>
	<minServingTime descr="Minimum Serving Time" type="number">9</minServingTime>
	<maxServingTime descr="Maximum Serving Time" type="number">21</maxServingTime>
	<priorityProbality descr="Priority Probability" type="probability">0.2</priorityProbality>
	<managerProbality descr="Manager Probability" type="probability">0.6</managerProbality>
</config>