<config>
	<duration>200</duration>
	<cashierNumber>1</cashierNumber>
	<priorityCashierNumber>1</priorityCashierNumber>
	<managerNumber>1</managerNumber>
	<priorityManagerNumber>1</priorityManagerNumber>
	<arrivalProbability>0.1</arrivalProbability>
	<minServingTime>5</minServingTime>
	<maxServingTime>10</maxServingTime>
	<priorityProbality>0.2</priorityProbality>
	<managerProbality>0.2</managerProbality>
</config>